* {
    box-sizing: border-box;
}
body {
    background-color: gray;
}
.container {
    margin-right: 0;
    margin-left: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    
}
.product {
    border-radius: 16px;
    background-color: white;
}
.product__badge {
    /* text-align: left; */
    background-color: #F2F2F5;
    color: #3366FF;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 8px;
    margin-top: 16px;
}
.product__like {
    text-align: right;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #28293D;
}
.product__image-wrapper {
    margin: 16px 4px;    
}
.product__image {
    border-radius: 8px;
}
.product__heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-left: 8px;
}
.product__old-price {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;    
    text-decoration-line: line-through;
    color: #C7C8D9;
    margin-left: 8px;
}
.product__new-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;    
    color: #28293D;
    margin-left: 8px;
}
.product__button-wrapper {
    padding: 8px 16px;
}
.product__button {
    background: #3366FF;
    border-radius: 4px;
    
}